<!-- Carousel section -->
<body onload="startTime()">
<div class="carousel" onload = "startTimer()">
<img class="carousel-img" id="img" src="/img/girlshop4.jpg" />
<button type="button" class="btn btn-info  left"  onClick="displayPreviousImage()"><b>Previous</b></button>
<button type="button" class="btn btn-info  right" onClick="displayNextImage()"><b>Next</b></button>
</div>