<!--Footer start here-->
<footer class="footer">
<div class="container">
<div class="row">
<div class="footer-col">
<h4>Clothify</h4>
<ul>
<li><a href="#" id="address">Home</a></li>
<li><a href="#" id="address">About</a></li>
<li><a href="#" id="address">Pricing</a></li>
<li><a href="#" id="address">Privacy Policy</a></li>
</ul>
</div>
<div class="footer-col">
<h4>Get Help</h4>
<ul>
<li><a href="#" id="address">Returns</a></li>
<li><a href="#" id="address">Contact Us</a></li>
<li><a href="#" id="address">Order Status</a></li>
<li><a href="#" id="address">Payment Options</a></li>
</ul>
</div>
<div class="footer-col">
<h4 >Address</h4>
<ul >
<li><a href="#" id="address">6/3, P/3 Shastri Nagar<br>
Agra, UP-
282002<br><i class="fa fa-phone" aria-hidden="true"> 8967234511</i><br>
<i class="fa fa-envelope" aria-hidden="true"> xyzz@gmail.com</i>
</a></li>
</ul>
</div>
<div class="footer-col">
<h4>follow us</h4>
<div class="social-links">
<a href="#"><i class="fab fa-facebook-f"></i></a>
<a href="#"><i class="fab fa-instagram"></i></a>
<a href="#"><i class="fab fa-twitter"></i></a>
<a href="#"><i class="fab fa-linkedin"></i></a>
</div>
</div>
</div>
</div>
</footer>
