<nav class="navbar navbar-expand-lg navbar-dark" id="navbarstyle" style="background-color: rgb(0,128,128)">
  <div>
  <a class="navbar-brand" id="actives" href="/product"><i class="fa fa-home"><b id="home"> Home</b></i></a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
  <li class="nav-item dropdown">
  <div class="btn-group" id="dropmenu">
  <button type="button" class="btn btn-light"><b class="me">Items</b></button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
  <a class="dropdown-item explore" href="#">Men's Fashion</a>
  <a class="dropdown-item explore" href="#">Clothing For Women</a>
  <a class="dropdown-item explore" href="#">Best Kid's Clothing</a>
  <a class="dropdown-item explore" href="About_us.html">The Indian Fashion</a>
  <a class="dropdown-item explore" href="#">Italian Fashion Brands</a>
  <div class="dropdown-divider explore"></div>
  <a class="dropdown-item explore" href="#">Clothify Fashion House</a>
  </div>
  </div>
  </li>
  <li class="nav-item active">
  <form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" id="home" placeholder="Search For Brands.." aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" id="actives" type="submit"><b id="home"> Search</b></button>
  </form>
  </li>
  </ul>
  <div>
   
 <a class="navbar-brand" id="actives" href="/cart"><i class="fa fa-cart-plus" aria-hidden="true"><b id="home"> Cart</b></i></a>
  <a class="navbar-brand" id="actives" href="/product/product_add"><i class="fa fa-calendar" aria-hidden="true"><b id="home"> Sell</b></i></a>
  <a class="navbar-brand" id="actives" href="/user/login"><i class="fa fa-user" aria-hidden="true"><b id="home"> LogIn</b></i></a>
    </div>
  </div>
  </nav>
