<link rel="stylesheet" href="../css/login.css">

{{>nav}}
{{>carousel}}
<br>
<br>
<br>

<h3>Login To Clothify</h3>
<br> 


<div class="text">
<h6>Enter your credentials to continue.</h6>
<div class="login-form">
<form method="POST" class="form" action="login">
        <div class="input-wrapper">
          <label for="email">Email Address</label><br>
          <input type="text" name="email" placeholder="Enter your username" />
          <i class="bx bxs-user-circle"></i>
        </div>
  
        <div class="input-wrapper">
          <label for="Password">Password</label><br>
          <input type="password" name="password" placeholder="Enter your password" />
          <i class="bx bx-key"></i>
        </div>
  
        <div class="button-wrapper">
           <button type="submit">
            Sign In
            <i class="bx bx-right-arrow-alt"></i>
          </button>
        </div>
      </form>  
      <br>
  don't have account?  <button><a href="/user/register">Sign Up</a></button>
</div>
</div>

<br>
<br>
<br>
{{>footer}}