<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
     <link rel="stylesheet" type="text/css" href="/css/product.css">
</head>
<body>
    <h2>Add Product  to Clothify</h2>
   <form method="POST" action="pages/product_add" enctype="multipart/form-data" /> 
    <input type="text" name="product_name" placeholder="Enter product name" /><br>
    
    <input type="text" name="product_type" placeholder="enter category" /><br>
    
    <input type="file"  accept="image/*" name="samplefile" /><br>
    <input type="number" name="price" placeholder="Enter your price of product " /><br>
    <input type="text" name="desc" placeholder="Enter Description of product" /><br>
    <input id="submit" type="submit">
    </form>
</body>
</html>